*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #60e8eb;
    background: linear-gradient(90deg,rgba(96, 232, 235, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container{
    background-color:#d0e7f3;
    text-align: center;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    position: relative;
    margin:200px auto;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
    letter-spacing: 4px;
    margin: 10px;
    margin-top: 20px;
    color:green;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formContainer input{
    width: 90%;
    margin-top: 20px;
    height: 35px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.formContainer button{
    width: 90%;
    margin: 10px;
    height: 35px;
    background-color: green;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.formContainer button:hover{
    background-color: rgb(0, 92, 0);
    /* transform: translateY(-5px); */
}

.bookmarkList{
    list-style: none;
    padding: 0px;
  overflow-y: auto;
  max-height: 160px;
}
.bookmarkList li{
    background-color: #f9f9f9 ;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 10px;
    width: 90%;
    height: 35px;
}

.bookmarkList a{
    color: #2ecc71;
    text-decoration: none;
}
.bookmarkList::-webkit-scrollbar{
    width: 8px;
    margin: 20px;
}
.bookmarkList::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 4px;
}

.bookmarkList::-webkit-scrollbar-thumb{
    background-color:   #cbd5e0;
  border-radius: 4px;;
}
.bookmarkList::-webkit-scrollbar-thumb:hover{
  background-color: #a0aec0;

}

.bookmarkList button{
    background-color: #e74c3c;
    color: white;
    border-radius:4px ;
    padding: 5px 10px;
    cursor:pointer;
    transition:background-color 0.3s ease;
    
}

.bookmarkList button:hover{
    background-color: #c0392b;
}